<form method="post">
    @Html.ValidationSummary()
    <label title="Your Name" >Your Name</label>
    <input type="text" name="PersonName" />
    <label title="Your City">Your City</label>
    <input type="text" name="cityName" />
    <input type="submit" />
</form>

@foreach (var item in CitiesTheGame.Models.Cities.CitiesThatWereUsed.Keys)
{
    <h2>@for (int i = 0; i < item.Length; i++)
    {
        @item[i];
    }
    @CitiesTheGame.Models.Cities.CitiesThatWereUsed[item] </h2>
}

